:root {
  --highlight-color:rgb(252, 99, 107);
  --main-app-color:rgb(25, 31, 70);
  margin: 0 !important;
  padding: 0 !important;
}
ul{
  margin: 0px;
    padding: 0px;
}
li{
  list-style: none;
}
body{
  margin: 0 !important;
  padding: 0 !important;
}